.bannerbox{
	width: 100%;
	height: auto;
	margin: 0 auto;
}
	.bannerbox img{
		width: 100%;
		height: auto;
	}
.nav-btn{
	height: auto;	
	padding:0 0.75rem 1.43rem 0.75rem;
	background: #fff;
	overflow: hidden;
}
	.nav-btn a{
		display: inline-block;
		float: left;
		width: 33.33%;
		height: auto;
		margin: 1.43rem auto 0 auto;
	}
		.nav-btn a img{
			display: block;
			width: 40px;
			height: 40px;
			margin: 0 auto;
		}
		.nav-btn a p{
			font-size: 0.86rem;
			color: #000;
			letter-spacing: 0.14px;
			text-align: center;
			margin-top:0.75rem;
		}
.adbox{
	width: 100%;
	height: 100px;
	margin: 5px auto;
	overflow: hidden;
}
	.adbox img{
		width: 100%;
		height: auto;
	}


.infobox{
	width:100%;
	height: auto;
	margin-bottom: 3.8rem;
	overflow: hidden;
}
	.infobox .infodiv{
		display: block;
		width: 100%;
		background: #F0F0F0;;
		height: auto;
		overflow: hidden;
		padding-bottom:5px;
		color: #505050;

	}
	.infobox .infodiv .info-top{
		padding: 0.58rem 0.75rem 0 0.75rem;
		background: #fff;
		height: auto;
		overflow: hidden;
		padding-bottom:1.14rem;
	}
		.infobox .infodiv .info-icon{
			width: 20px;
			height: 20px;
		}
			.infobox .infodiv .info-icon img{
				width: 100%;
				height: 100%;
			}

		.infobox .infodiv .info-con{
			width: 76%;
			height: auto;
			margin: 0 1rem;
			overflow: hidden;
		}
			.infobox .infodiv .info-con h4{
				font-size: 0.79rem;
			}
			.infobox .infodiv .info-con p{
				font-size:0.75rem;
			}
			.infobox .infodiv .info-con h3{
				font-size: 1.1rem;
				color: #000;
				margin: 0.58rem 0 0.36rem;
			}

		.infobox .infodiv .info-more{
			width: auto;
			height: auto;
			overflow: hidden;
		}
	.infobox .infodiv .btn-check{
		display: block;
		width: 100%;
		height: 2.14rem;
		text-align: center;
		background: #F8F8F8;
		color: #898989;
		font-size:0.86rem;
		line-height: 2.14rem;
	}

.foot-flex{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	display: -webkit-flex;
    display: flex;
    height: 3.8rem;
    border-top:1px solid #CBCACF;
    background: #fff;
}
	.foot-flex .flex-item {
	    width: 33.33%;
	    height: 3.8rem;
	    margin-top: 10px;
	    
	}
		.foot-flex .flex-item i{
			width: 26px;
			height: 26px;
			display: block;
			margin: 0 auto;

		}
		.foot-flex .flex-item i.home{
			background: url("../images/icon/foot-01.png");
			background-size:26px 26px;
			-webkit-background-size:26px 26px;
			-ms-background-size:26px 26px;
			-o-background-size:26px 26px;
			-moz-background-size:26px 26px;
		}
		.foot-flex .flex-item.active i.home{
			background: url("../images/icon/foot-active-01.png");
			background-size:26px 26px;
			-webkit-background-size:26px 26px;
			-ms-background-size:26px 26px;
			-o-background-size:26px 26px;
			-moz-background-size:26px 26px;
		}
		.foot-flex .flex-item.active p{
			color: #FF0049;
		}
		.foot-flex .flex-item i.task{
			background: url("../images/icon/foot-02.png");
			background-size:26px 26px;
			-webkit-background-size:26px 26px;
			-ms-background-size:26px 26px;
			-o-background-size:26px 26px;
			-moz-background-size:26px 26px;
		}
		.foot-flex .flex-item.active i.task{
			background: url("../images/icon/foot-active-02.png");
			background-size:26px 26px;
			-webkit-background-size:26px 26px;
			-ms-background-size:26px 26px;
			-o-background-size:26px 26px;
			-moz-background-size:26px 26px;
		}
		.foot-flex .flex-item i.my{
			background: url("../images/icon/foot-03.png");
			background-size:26px 26px;
			-webkit-background-size:26px 26px;
			-ms-background-size:26px 26px;
			-o-background-size:26px 26px;
			-moz-background-size:26px 26px;
		}
		.foot-flex .flex-item.active i.my{
			background: url("../images/icon/foot-active-03.png");
			background-size:26px 26px;
			-webkit-background-size:26px 26px;
			-ms-background-size:26px 26px;
			-o-background-size:26px 26px;
			-moz-background-size:26px 26px;
		}
		.foot-flex .flex-item p{
			font-size: 0.71rem;
			color: #ABABAB;
			text-align: center;
		}



